@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(9, 4, 30, 0.925),rgba(22, 3, 20, 0.377)),url("img/the-avengers-avengers-endgame-ant-man-avengers-endgame-black-widow-hd-wallpaper-preview.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 0.5% 4%;
    justify-content: space-between;
    align-items: center;
    background-color:#f100009e;
}
nav img{
    width: 120px
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;

}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: rgb(210, 183, 253);

}