@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    /* background-image: url("img/background.jpg"); */
    background-image: linear-gradient(to right, rgba(9, 4, 30, 0.925),rgba(22, 3, 20, 0.1)),url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADER */
.header{
    height: 8vh;
    width: 100%;
    padding: 0 8%;
    /* background-color:rgba(238, 23, 31); */
    background-color: #d11818e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a{
    display: flex;
    align-items: center;
}
#logo{
    height: 6vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* MAIN SECTION */
.main{
    height: 92vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
}
.text-box{
    color: white;
    /* color: rgb(210, 183, 253); */
    flex-basis: 45%;
    position: relative;
    margin-left: 50px;
}
.text-box h1{
    font-size: 80px;
}
.text-box p{
    font-size: 25px;
    font-weight: 300;
    color: white;
}
#quote{
    font-size: 30px;
    font-weight: 500;
}
.text-box button{
    border: none;
    padding: 10px;
    font-size: 25px;
    background-color: #ee171f;
    color: white;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}
.text-box button:hover{
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding-left: 50px;
}
